:root{
    --color-white: hsl(0, 0%, 95%);
    --color-white-shade: hsl(0, 0%, 95%);
    --color-black: hsl(0, 0%, 05%);
  
    --color-primary: hsl(221, 83%, 53%);
    --color-light-gray: hsl(220, 14%, 92%);
    --color-gray: hsl(220, 14%, 50%);
  
    --p-inline: clamp(.75rem, 0.6286rem + 0.5178vw, 2rem);
    --p-block: 1rem;
    --gap: 1rem;
    --border-radius: 2rem;
  
    --fs-small: clamp(0.75rem, 0.6286rem + 0.5178vw, 0.95rem);
    --fs-medium: clamp(1rem, 0.6966rem + 1.0945vw, 1.25rem);
    --fs-large: clamp(1.5rem, 1.0291rem + 1.2924vw, 3rem);
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}